body {
    justify-content: center;
}

ul.nav {
    height: 100%;
    padding: 4px;
}

ul.nav li {
    display: block;
    color: #fff;
    margin-right: 50px;
    padding: 15px;
    transition: transform .4s ease;
}

ul.nav a {
    text-decoration: none;
    display: block;
    color: #fff;
}

ul.nav li:hover, ul.nav a:hover {
    color: #6D2749;
    text-decoration: none;
    transform: scale(1.05);
}

div.nav {
   justify-content: center;
   width: 90%;
   margin-top: 1%;
   margin-left: 5%;
   margin-bottom: 1%;
   padding: 1%;
}

div.main {
    border: 2px solid #6D2749;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    width:42%;
    height: 80%;
    padding-bottom: 50%;
    margin-bottom: 1%;
}